# calculation logitute and latituteÂ¶///#weather data analysis

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"D:\distance\Distances.csv")

def dist_from_coordinates(lat, lng, lat2, lng2):
    R = 6371  # Earth radius in km

#conversion to radians
    d_lat = np.radians(lat2-lat)
    d_lon = np.radians(lng2-lng)

    r_lat1 = np.radians(lat)
    r_lat2 = np.radians(lat2)

#haversine formula
    a = np.sin(d_lat/2.) **2 + np.cos(r_lat1) * np.cos(r_lat2) * np.sin(d_lon/2.)**2

    haversine = 2 * R * np.arcsin(np.sqrt(a))

    return haversine

In [ ]:
dist_from_coordinates(df['lat'], df['lng'], df['Lat2'], df['Lng2']), 'km'

In [ ]:
new_column = []                    #empty column for distance
for index,row in df.iterrows():
    lat = row['lat'] #first row of location.lat column here
    lng = row['lng'] #first row of location.long column here
    lat2 = row['Lat2'] #second row of location.lat column here
    lng2 = row['Lng2'] #second row of location.long column here
    value = dist_from_coordinates(lat, lng, lat2, lng2)  #get the distance
    new_column.append(value)   #append the empty list with distance values

df.insert(4,"Distance2",new_column)

In [ ]:
df

In [ ]:
pip install meteostat

In [1]:
from datetime import datetime
from meteostat import Point, Daily

In [ ]:
start = datetime(2023, 11, 30)
end = datetime(2024, 1, 31)

In [ ]:
vancouver = Point(19.07283, 72.88261, 0)

In [ ]:
data = Daily(vancouver, start, end)
data = data.fetch()

In [ ]:
data

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df=pd.read_csv(r"D:\distance\Distances.csv")
#df2=df.head(7)

In [19]:
df2

,Unnamed: 0,lat,lng,Unnamed: 2,Unnamed: 3,Distance,Unnamed: 4,Unnamed: 5,Lat2,Lng2
0,0,19.07283,72.88261,NaN,NaN,119.454452,NaN,NaN,18.51957,73.85535
1,1,-6.17500,106.82750,NaN,NaN,1507.589038,NaN,NaN,7.34830,-62.53950
2,2,28.61000,77.23000,NaN,NaN,5787.521965,NaN,NaN,-23.43000,-58.86000
3,3,23.13000,113.26000,NaN,NaN,2748.167163,NaN,NaN,-1.56670,9.25000
4,4,19.07610,72.87750,NaN,NaN,2318.150522,NaN,NaN,-1.74960,37.12000
5,5,14.59580,120.97720,NaN,NaN,5266.114806,NaN,NaN,61.95000,159.23330
6,6,31.16670,121.46670,NaN,NaN,732.730494,NaN,NaN,24.63330,-107.91670

In [ ]:
#data.plot(y=['tavg', 'tmin', 'tmax'])
#plt.show()

In [20]:
def weather_info(lat,lng,start_date,end_date):
    vancouver = Point(lat,lng,0)
    
    data = Daily(vancouver, start_date, end_date)
    data = data.fetch()
    return data

In [21]:
weather_info(19.07283,72.88261,datetime(2023, 11, 20),datetime(2023, 11, 20))

            tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
time
2023-11-20  30.6  25.4  35.4   0.0   NaN  10.0   8.5   NaN  1011.9   NaN

In [22]:
d =[]

for i in df2['lat']:
    for j in df2['lng']:
        d.append(weather_info(i,j,datetime(2023, 11, 20),datetime(2023, 11, 20)))

In [25]:
d

[            tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  30.6  25.4  35.4   0.0   NaN  10.0   8.5   NaN  1011.9   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  30.6  25.4  35.4   0.0   NaN  10.0   8.5   NaN  1011.9   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  30.2  26.0  34.2   4.3   NaN  308.0   9.0   NaN  1010.0   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  20.3  14.7  27.6   0.0   NaN  327.0   0.8   NaN  1017.3   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  26.0  21.5  32.9   0.0   NaN  54.0  10.8   NaN  1014.2   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  19.6  10.8  27.0   0.0   NaN  78.0   6.0   NaN  1019.5   NaN,
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  26.0  21.5  32.9   0.0   NaN  54.0  10.8   NaN  1014.2   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  21.9  19.4  23.7   NaN   NaN  354.0   9.3   NaN  1019.5   NaN,
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  30.6  25.4  35.4   0.0   NaN  10.0   8.5   NaN  1011.9   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  30.6  25.4  35.4   0.0   NaN  10.0   8.5   NaN  1011.9   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  23.8  18.4  32.8   0.0   NaN  31.0   9.2   NaN  1014.0   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  29.3  24.6  32.1   0.0   NaN   5.0   8.1   NaN  1011.6   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  19.3  14.1  26.6   0.0   NaN  337.0   6.6   NaN  1018.7   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  19.3  14.1  26.6   0.0   NaN  337.0   6.6   NaN  1018.7   NaN,
 Empty DataFrame
 Columns: [tavg, tmin, tmax, prcp, snow, wdir, wspd, wpgt, pres, tsun]
 Index: [],
             tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
 time
 2023-11-20  13.7   7.0  21.0   0.0   NaN  66.0   4.7   NaN  1023.2   NaN]